/*
	index css source
*/


html {
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

body { 
	/*background-color: #000;*/
	/* Margin bottom by footer height */
	margin-bottom: 20px;
}

#FirstDiv {
	width: 150px;
	height: 150px;
	background: red;
	position: absolute;
	z-index: 1;
}

#SecondDiv {
	width: 200px;
	height: 200px;
	background: blue;
	position: absolute;
}

#bottom {
	position: absolute;
	z-index: 0;
	
}

#top {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.9;
}


.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
}


#display-content { 
	display: inline;
	margin-left: 20px;
	position: inline;
	color: #00FF00;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow-y: scroll;
	max-height: 100%;
	z-index: 2;
}


#cursor {
	color: #00FF00;
	z-index: 2;
}


/* auto type class */
.auto-type {
	color: #00FF00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow-y: auto;
	/*overflow: hidden;*/
	max-height: 100%;
}
